*{
    padding: 0%;
    margin: 0%;
    outline: none;
    font-family: Verdana,sans-serif;
    font-weight: 500;
    font-size: 22px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blueviolet;
}

    input{
        margin: 2px;
        border: none;
        border-radius: 3px;
    }
input[type=text]{
    width: calc(100% - 4px);
    height: 70px;



}
input[type=button]{
        width: 100px;
        height: 50px;
        transition: ease 0.2s;
        cursor: pointer;
       
}
div#calculadora{
    box-shadow: 0 0 20px black;


}
div#calculadora div{
    display: flex;
}
div#calculadora div input:nth-child(4){
    background-color: #b4b4b4

}
div#quarta input:nth-child(1){
    background-color: chocolate;
}
div#quarta input:nth-child(1), div#calculadora{
    border-bottom-left-radius: 35px;

}
div#quarta input:nth-child(3){
    background-color: cornflowerblue;
}
div#quarta input:nth-child(4), div#calculadora{
        border-bottom-left-radius: 35px;
}
    input[type=button]:hover{
        filter: brightness(50%);

    }

    input[type=button]:active{
        transform: scale(0.9);
    }
